In [3]:
from iOracle import data

In [5]:
data = data._get_dataframe('AAPL', '2021-01-01', '2021-12-01')

[*********************100%***********************]  1 of 1 completed

In [7]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-31,134.080002,134.740005,131.720001,132.690002,131.877014,99116600
2021-01-04,133.520004,133.610001,126.760002,129.410004,128.617111,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,130.207306,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,125.824318,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,130.117859,109578200
...,...,...,...,...,...,...
2021-11-23,161.119995,161.800003,159.059998,161.410004,161.410004,96041900
2021-11-24,160.750000,162.139999,159.639999,161.940002,161.940002,69463600
2021-11-26,159.570007,160.449997,156.360001,156.809998,156.809998,76959800
2021-11-29,159.369995,161.190002,158.789993,160.240005,160.240005,88748200
2021-11-30,159.990005,165.520004,159.919998,165.300003,165.300003,174048100